

$color-fuente01:rgb(7, 16, 16);
$back-footer: rgba(14, 14, 14, 0.835);

// <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
//
$fuente-01: 'Bangers', cursive;


// <link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet"> 
//
$fuente-02: 'Marcellus SC', serif;